/* main.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
  
  h1, h2 {
    color: #005A9C;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .button {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .rowDelete {
    display: block;
    width: 20px;
    padding: 5px;
    margin: 5px 0;
    font-size: 10px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  Button1 {
    display: block;
    /* width: 10%; */
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover, Button:hover {
    background-color: #0056b3;
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
  }
  